<%- include('header.ejs') %>
    <% if (locals.book && locals.postRoute){ %>

        <div id="add-edit-main">
            <div class="basic-book-info">
                <div class="img-info"><img src="https://covers.openlibrary.org/b/isbn/<%= book['isbn_number'] %>-M.jpg" alt="" class="book-cover"></div>
                <div class="text-info">
                    <h4><%= book['book_name'] %><br>- <%= book['author'] %></h4>
                    <p>ISBN: <%= book['isbn_number'] %></p>
                </div>
            </div>
            
            <form action="<%= postRoute %>" method="post" id="add-edit-form">
                <label for="book-rating">Rating</label>
                <textarea type="number" id="book-rating" name="rating" cols="30" rows="1"><%= book['rating'] %></textarea>
                <label for="preview">Preview</label>
                <textarea type="text" id="preview" name="preview" cols="30" rows="10"><%= book['preview'] %></textarea>
                <label for="notes">Notes</label>
                <textarea type="text" id="notes" name="notes" cols="30" rows="10"><%= book['notes'] %></textarea>
                <input type="submit" value="Submit" id="book-info-submit">
            </form>
        </div>

    <% } %>
        
</body>
</html>