<%- include('header.ejs') %>

    <% if (locals.book) { %>
        <main id="book-notes-main">
            <div class="book-card">
                <div class="basic-book-info">
                    <a href="/notes/<%= book['id'] %>" class="img-info"><img src="https://covers.openlibrary.org/b/isbn/<%= book['isbn_number'] %>-M.jpg" alt="" class="book-cover"></a>
                    <div class="text-info">
                        <h3><%= book['book_name'] %>  - <%= book['author'] %></h3>
                        <p>ISBN: <%= book['isbn_number'] %></p>
                        <p>Date of upload: <%= new Date(book['date_added']).toDateString().slice(4) %>.</p>
                        <p>How strongly I recommend it: <%= book['rating'] %>/5</p>
                    </div>
                </div>
    
                <p><%= book['preview'] %></p>
                <h2>My Notes</h2>
                <p><%= book['notes'] %></p>
                
                    <div id="button-container">
                        <a href="/edit/<%= book['id'] %>"><button id="edit-notes"><img src="assets/edit-icon.png" alt="" id="edit-icon"></button></a>
                        <a href="/delete/<%= book['id'] %>"><button id="delete-notes"><img src="assets/delete-icon.png" alt="" id="delete-icon"></button></a>
                    </div>
            </div>
    
            <button id="scroll-to-top"><img src="assets/arrow-upward-icon.png" alt="" id="up-arrow"></button>
        </main>
    <% } %>
    
    <script>
        const buttonScrollToTop = document.querySelector("#scroll-to-top");
        buttonScrollToTop.addEventListener("click", () => {
            window.scrollTo(0, 0);
        });
    </script>
</body>
</html>