<%- include('../partials/header.ejs') %>

    <div id="website-intro">
        <p>Welcome to Literary Reflections, your go-to source for insightful book summaries.</p>
        <p>On this website, I share concise reviews of the books I've read, allowing you to easily sort through them by <a href="/sort/book_name">title</a>, <a href="/sort/date_added">newest</a>, or <a href="/sort/rating">best</a>.</p>
        <p>Use the ISBN number to find it from your local library or anywhere else. Enjoy your reading journey!.</p>
    </div>

    <% if (locals.books){ %>
        <% books.forEach(book => { %>
            <div class="book-card">
                <div class="basic-book-info">
                    <a href="/notes/<%= book['id'] %>" class="img-info"><img src="https://covers.openlibrary.org/b/isbn/<%= book['isbn_number'] %>-M.jpg" alt="" class="book-cover"></a>
                    <div class="text-info">
                        <a href="/notes/<%= book['id'] %>"><h2><%= book['book_name'] %> - by <%= book['author'] %></h2></a>
                        <p>Date of upload: <%= new Date(book['date_added']).toDateString().slice(4) %></p>
                        <p>I'll give it a rating of: <%= book['rating'] %>/5</p>
                    </div>
                </div>
                <p><%- book['preview'] %></p>
                <div id="read-more-button-container">
                    <a href="/notes/<%= book['id'] %>"><button class="read-more">Read more</button></a>
                </div>
            </div>        
        <% }); %>
    <% } %>
    
    <a href="/isbn" id="add-book-note"><img src="assets/plus-icon.png" alt="" id="plus-icon"></a>

    <button id="scroll-to-top"><img src="assets/arrow-upward-icon.png" alt="" id="up-arrow"></button>

    <script>
        const buttonScrollToTop = document.querySelector("#scroll-to-top");
        buttonScrollToTop.addEventListener("click", () => {
            window.scrollTo(0, 0);
        });
    </script>
</body>
</html>