<%- include('../partials/header.ejs') %>

    <div id="website-intro">
        <p>Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.</p>
        <p>Sorted with my top recommendations up top. Sort by <a href="">title</a>, <a href="">newest</a>, or <a href="">best</a>.</p>
    </div>

    <% if (locals.books){ %>
        <% books.forEach(book => { %>
            <div class="book-card">
                <div class="basic-book-info">
                    <a href="/notes/<%= book['id'] %>" class="img-info"><img src="https://covers.openlibrary.org/b/isbn/<%= book['isbn_number'] %>-M.jpg" alt="" class="book-cover"></a>
                    <div class="text-info">
                        <a href="/notes/<%= book['id'] %>"><h2><%= book['book_name'] %> - by <%= book['author'] %></h2></a>
                        <p>Date of upload: <%= new Date(book['date_added']).toDateString().slice(4) %></p>
                        <p>How strongly I recommend it: <%= book['rating'] %>/5</p>
                    </div>
                </div>
                <p><%= book['preview'] %></p>
                <div id="read-more-button-container">
                    <a href="/notes/<%= book['id'] %>"><button class="read-more">Read more</button></a>
                </div>
            </div>        
        <% }); %>
    <% } %>
    
    <a href="" id="add-book-note"><img src="assets/plus-icon.svg" alt="" id="plus-icon"></a>

    <button id="scroll-to-top"><img src="assets/arrow-upward-icon.svg" alt="" id="up-arrow"></button>

    <script>
        const buttonScrollToTop = document.querySelector("#scroll-to-top");
        buttonScrollToTop.addEventListener("click", () => {
            window.scrollTo(0, 0);
        });        
    </script>
</body>
</html>